<p>listar-clientes works!</p>
<!--
<button (click)="addCliente()">add cliente</button>
<button (click)="removeCliente()">delete cliente</button>

<input type="text" [(ngModel)]="txtValor"> -->

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Número Documento</th>
        <th>Nombres</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.tipo }}</td>
        <td>{{ cliente.numero_documento }}</td>
        <td>{{ cliente.nombres }}</td>
      </tr>
    </tbody>
  </table>

  <!--<h2>el valor del texto es {{txtValor}}</h2> -->